doctype html
html(lang='ko')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= title
    script(src='/javascripts/libs/jquery-1.11.1.min.js')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    .wrap
      .board_wrap
        .win_num.left
          span 0
        .board._board
          .board_inner._board_new_game
            p 새로운 게임을 시작하세요
            .btn_wrap
              button._enter(type='button') 입장하기          
          .board_inner._board_input_number(style='display: none;')
            p.only_txt 숫자를 입력해주세요          
          .board_inner._board_restart(style='display: none;')
            p 다시 게임을 시작하시겠습니까?
            .btn_wrap.two_btns
              button._game_restart(type='button') 한 게임 더
              button._game_leave(type='button') 나가기
          .board_inner._board_wait(style='display: none;')
            p.only_txt 상대를 기다리는 중입니다.
          .board_inner._board_opponent_leave(style='display: none;')
            p.dbl_txt 상대방이 나갔습니다.
              br
              br
              다음 상대를 기다리는 중입니다.
        .win_num.right
          span 0
      .player_wrap
        .player.one
          .player_info
            .gauge
              .lv._lv5.on 100 ~ 81
              .lv._lv4.on 80 ~ 61
              .lv._lv3.on 60 ~ 41
              .lv._lv2.on 40 ~ 21
              .lv._lv1.on 20 ~ 0
            .number
              .value_wrap
                .value ?
              .input
                input(type='text')
                button(type='button') 입력
            .mark(style='display: none;')
              span.mrk_txt.mrk_blk_txt 흑
              span.mrk_txt.mrk_wht_txt 백
        .player.two
          .player_info
            .gauge
              .lv._lv5 100 ~ 81
              .lv._lv4 80 ~ 61
              .lv._lv3 60 ~ 41
              .lv._lv2 40 ~ 21
              .lv._lv1 20 ~ 0
            .number
              .value_wrap
                .value ?
            .mark.on(style='display: none;')
              span.mrk_txt.mrk_blk_txt 흑
              span.mrk_txt.mrk_wht_txt 백
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/bw.main.js')
    script(type='text/javascript', src='/javascripts/bw.socket.js')
    script(type='text/javascript', src='/javascripts/bw.view.js')
    script(type='text/javascript', src='/javascripts/bw.process.js')
    script(type='text/javascript').
       bw.main.init();
