doctype html
html(lang='ko')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= title
    script(src='/javascripts/libs/jquery-1.11.1.min.js')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    block content